/*body shape style*/
body{
    font-family: 'Lato', sans-ser;
    font-family: 'Open Sans', sans-ser;
    font-size: 40px;
    font-style: normal;
    
} 

/*banner blk style*/
.banner{
    border: 192px 850px;
    background-color:rgba(229, 84, 115, 0.15);
    display:flex;
    gap: 97px;
    padding:  50px 245px 0px 145px;
    align-items: center;
}
/*banner title style*/
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top:   80px ;
    margin-bottom: 96px;
}
/*banner paragraph text style*/
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    width: 650px;

}
/*Primary button style*/
.primary-btn{
    background-color:rgb(229, 84, 115) ;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 8px;
    padding: 20px 43px ;
    border-radius: 8px;
    border: 0;
}
/*banner container blk style*/
.banner-container{
    margin: 10px 20px;
    width: 1045px;
}
/*cover picture style*/
.banner.cover-pic{
    width: 650px;
    height: 800px;
}
/*main blk style*/
main{
    max-width:1920px ;
    max-height: 4067px;
}
/*features blk style*/
.features{
    text-align: center;
}
/*section title style*/
.section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 178px  600px 0px 700px ;
    padding: 40px 48px;
}
/*section description style*/
.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    height: 60px;
    padding: 22px 18px;  
    margin:24px 700px ;

} 
/*features pic blk style*/
.features-pic
{
    margin: 48px 240px 68px 240px;
    display: flex; 
    gap:24px;
}
/*features pic1 style*/
.features-pic1
{   
    border: 464px 538px;
    border-radius: 300px 300px 0px 0px; 
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
    
} 
/*features pic2 style*/
.features-pic2
{
    border: 464px 538px;
    border-radius: 300px 300px 0px 0px;   
    background: rgba(5, 151, 160, 0.15)  ;
    width:370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
    
}
/*features pic3 style*/
.features-pic3
{
    border: 464px 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
/*flower tree text  styles*/
#flower-tree-text
{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/*hot deals section styles*/
.hot-deals-section{
    border: 1922px 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
}
/*hot deals container section styles*/
.hot-deals-container{
    margin-left: 395px ;
    margin-right:  186px;
    text-align: center;
}
/*title word colur*/
.text-color{
    color: #E55473;
}
/*hot deals section title style*/
.hot-deals-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
/*hot deals section description style*/
.hot-deals-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    height: 60px;
    padding: 22px 18px;  
} 
/*hot deals pic style*/
.hot-deals-pic{
    width: 318px;
    height: 420px;
}
/*instagram features section description style*/
.instagram-features{
    display: block;
    margin-top: 128px ;
    text-align: center;
}
/*display the pictures on instagram features section */
div.instagram-pic:hover{
    width: 342px;
    height: 396px;
    margin: 48px 240px ;
    gap: 24px;
}
/*contact form styles*/
.input-form{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;

}
/*styles of the contact info */
.contact-info{
    
    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: 1440px 449px;
    border-radius: 8px;
    margin: 128px 240px;
}
/*display the title and description*/
.contact-info-header{
    margin:   94px 453px 0px 287px;
    display: block;
    text-align: center;
}
/*contact styles of title*/
.contact-info-title
{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 121px;
    margin-bottom: 0px;
    
}
/*contact styles of description*/
.contact-info-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 18px 22px;
}
/*contact and button blk styles */
.contact-info-lable{
    display: inline-flex;
    margin:   48px 453px 121px 287px;
    }